{% extends 'layout.html.twig' %}

{% block content %}
    <section class="add_article">
        <!--<form action="?action=add_article" enctype="multipart/form-data" method="POST">
            titre : <input type="text" name="title"><br>
            text : <textarea name="content" placeholder="Enter text here..."></textarea><br>
            <input type="file" name="add_file"><br>
            <input type="submit">
        </form>-->
        <div class="add_article_form">
            <form action="?action=add_article" enctype="multipart/form-data" method="POST">
                <fieldset><legend>Créer un article</legend>
                    <label>
                        <span>Titre
                            <span class="required">*</span>
                        </span>
                        <input type="text" name="title">
                    </label>
                    <label>
                        <span>Image
                            <span class="required">*</span>
                        </span>
                        <input type="file" name="add_file">
                    </label>
                    <label for="content">
                        <span>Contenu
                            <span class="required">*</span>
                        </span>
                        <textarea name="content" placeholder="Enter text here..."></textarea></textarea>
                    </label>
                    <label>
                        <span>&nbsp;</span>
                        <input type="submit" value="Submit">
                    </label>
                </fieldset>
            </form>
        </div>
    </section>
{% endblock %}
