{% extends 'layout.html.twig' %}

{% block content %}

    <section class="add_article">
        <div id="error-block-add-article"></div>
        <div class="add_article_form">
            <form action="?action=add_article" id="add-article-form" name="add-article-form" enctype="multipart/form-data" method="POST">
                <fieldset><legend>Créer un article</legend>
                    <label>
                        <span >Titre
                            <span class="required">*</span>
                        </span>
                        <input type="text" name="title">
                    </label>
                    <label>
                        <span>Image
                        </span>
                        <input type="file" id="image" name="image">
                    </label>
                    <label for="content">
                        <span>Contenu
                            <span class="required">*</span>
                        </span>
<<<<<<< HEAD
                        <textarea class="ckeditor" name="editor" placeholder="Enter text here..."></textarea>
=======
                        <textarea name="content" placeholder="Description de l'article..."></textarea></textarea>
>>>>>>> 65d52abf7ee3454e229a63a70fb747610013b5cf
                    </label>
                    <label>
                        <span>&nbsp;</span>
                        <input type="submit" value="Créer un article">
                    </label>
                </fieldset>
            </form>
        </div>
    </section>

    <script type="text/javascript" src="web/script/ajax-add-article.js"></script>


{% endblock %}
