{% extends 'layout.html.twig' %}

{% block content %}
    <section class="add_article">
        <form action="?action=add_article" enctype="multipart/form-data" method="POST">
            titre : <input type="text" name="title"><br>
            text : <textarea name="content" placeholder="Enter text here..."></textarea><br>
            <input type="file" name="add_file"><br>
            <input type="submit">
        </form>
        <!--<div class="form-style-3">
            <form>
                <fieldset><legend>Message</legend>
                    <label for="field6">
                        <span>Message
                            <span class="required">*</span>
                        </span>
                        <textarea name="field6" class="textarea-field"></textarea>
                    </label>
                    <label>
                        <span>&nbsp;</span>
                        <input type="submit" value="Submit">
                    </label>
                </fieldset>
            </form>
        </div>-->
    </section>
{% endblock %}
