{% extends 'admin.html.twig' %}

{% block content %}
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>User id</th>
            <th class="size_delete">Supprimer</th>
        </tr>
        {% for article in articles %}
            <tr>
                <td>{{ article['id'] }}</td>
                <td>{{ article['title'] }}</td>
                <td>{{ article['user_id'] }}</td>
                <td><img class="delete" src="web/img/delete.png" alt="delete user"></td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}
