{% extends 'admin.html.twig' %}

{% block content %}
    <table>
        <tr>
            <th>Pesudo</th>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th class="size_delete">Supprimer</th>
        </tr>
        <tr>
            <td>aaaaaa1A</td>
            <td>20</td>
            <td>aaaaaa1A</td>
            <td>aaaaaa1A</td>
            <td><img class="delete" src="web/img/delete.png" alt="delete user"></td>
        </tr>
        <tr>
            <td>coucou1A</td>
            <td>21</td>
            <td>coucou1A</td>
            <td>coucou1A</td>
            <td><img class="delete" src="web/img/delete.png" alt="delete user"></td>
        </tr>
        <tr>
            <td>Vertragg05</td>
            <td>22</td>
            <td>Rémy</td>
            <td>PEYRE</td>
            <td><img class="delete" src="web/img/delete.png" alt="delete user"></td>
        </tr>
        <tr>
            <td>Pesudo</td>
            <td>ID</td>
            <td>Firstname</td>
            <td>Lastname</td>
            <td><img class="delete" src="web/img/delete.png" alt="delete user"></td>
        </tr>

        <tr>
            <td>Pesudo</td>
            <td>ID</td>
            <td>Firstname</td>
            <td>Lastname</td>
            <td><img class="delete" src="web/img/delete.png" alt="delete user"></td>
        </tr>
        <tr>
            <td>Pesudo</td>
            <td>ID</td>
            <td>Firstname</td>
            <td>Lastname</td>
            <td><img class="delete" src="web/img/delete.png" alt="delete user"></td>
        </tr>
    </table>
{% endblock %}
