{% extends 'layout.html.twig' %}

{% block content %}

    {% for article in userArticles %}
        <section>
            <article>
                <h1> {{ article['title'] }} </h1>

                {% set img = article['image'] %}
                <img src="{{ img }}"/>
                <p>{{ article['content'] }}</p>
            </article>
        </section>
    {% endfor %}
{% endblock %}