<!DOCTYPE html>
<html lang="fr">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=0.2">
   <title>The Walking Dead</title>
   <link rel="icon" type="image/png" href="web/img/favicone.png">
   <link rel="stylesheet" href="web/style/admin.css">
</head>
<body>
   <div class="interface_404">
      <img src="web/img/404.jpg" alt="zombie">
   </div>
</body>
</html>
