<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 minimum-scale=0.2">
        <title>The Walking Dead</title>
        <link rel="icon" type="image/png" href="web/img/favicone.png">
        <link rel="stylesheet" href="web/style/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="web/script/script.js"></script>
        <script src="ckeditor/ckeditor.js"></script>
        <script type="text/javascript" src="web/script/ajax-add-article.js"></script>
        <script type="text/javascript" src="web/script/edit_article.js"></script>
        <script type="text/javascript" src="web/script/ajax-edit-article.js"></script>

        <!--<script type="text/javascript" src="web/script/ajax-comment-article.js"></script>-->
    </head>
    <body>
        <header>
            <div class="topnav" id="myTopnav">
                <a class="hover_logo" href="?action=home"><img class="logo" src="web/img/logo-blanc.png" alt="the walking dead logo navigation"></a>
                <a class="replace_nav" href="?action=home">Accueil</a>
                <a href="?action=add_article">Créer un Article</a>
                {% if userIsConnect is not empty %}
                    <a href="?action=edit_article">Modif Article</a>
                {% endif %}
                <a href="?action=profil">Profil</a>
                {% if userIsConnect is not empty %}
                    <a href="?action=logout">Deconnection</a>
                {% endif %}
                {% if userIsConnect is empty %}
                    <a href="?action=login">Se connecter</a>
                {% endif %}
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
            </div>
        </header>
        <main>
            {% if error is defined and error is not empty %}
                <p class="error">Error : {{ error }}</p>
            {% endif %}
            {% if error is defined and userArticles is not empty %}
                <p class="userArticles">Error : {{ userAticles }}</p>
            {% endif %}
            {% block content %}{% endblock %}
        </main>
        <footer>
            <div class="square_footer">
                <ul class="footer_left">
                    <li class="footer_left_title">
                        <a href="?action=home">
                            A voir :
                        </a>
                    </li>
                    <li>
                        <a href="?action=home">
                            Accueil
                        </a>

                    </li>
                    <li>
                        <a href="?action=add_article">
                            Créer un article
                        </a>
                    </li>
                    <li>
                        <a href="?action=profil">
                            Profil
                        </a>
                    </li>
                </ul>
            </div>
            <div class="colum_log_social">
                <div class="join_us">
                    <a class="place" href="?action=register">REJOINS NOUS</a>
                </div>
                <div class="social_footer">
                    <a  href="http://www.amc.com/shows/the-walking-dead" target="_blank">
                        <img class="bg_social amc" src="web/img/footer/amc.png" alt="redirection vers AMC">
                    </a>
                    <a href="https://www.facebook.com/TheWalkingDeadFR" target="_blank">
                        <img class="bg_social fb" src="web/img/footer/facebook.png" alt="redirection vers Facebook">
                    </a>
                    <a href="https://fr.pinterest.com/happyhermit/the-walking-dead/" target="_blank">
                        <img class="bg_social pinterest" src="web/img/footer/pinterest.png" alt="redirection vers Pinterest">
                    </a>
                    <a href="https://twitter.com/walkingdead_amc?lang=fr" target="_blank">
                        <img class="bg_social twitter" src="web/img/footer/twitter.png" alt="redirection vers Twitter">
                    </a>
                    <a href="https://www.youtube.com/watch?v=BvQy5_OHJUM" target="_blank">
                        <img class="bg_social youtube" src="web/img/footer/youtube.png" alt="redirection vers Youtube">
                    </a>
                </div>
                <div class="copyright">
                    Copyright © 2017
                    <br>by Cheikh-omar & Rémy
                </div>
            </div>
            <div class="square_footer">
                <ul class="footer_right">
                    <li class="footer_right_title">
                        <a href="?action=home">
                            Partenaires :
                        </a>
                    </li>
                    <li>
                        <a href="http://www.amc.com/shows/the-walking-dead" target="_blank">
                            AMC
                        </a>
                    </li>
                    <li>
                        <a href="http://the-walking-dead.net" target="_blank">
                            TWD FRANCE
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>
