{% extends 'layout.html.twig' %}

{% block content %}
<section class="profil">
    <div class="first_part_profil">
        <!--<img class="bg_profil" src="web/img/background-profil.jpg">-->
    </div>
    <div class="second_part_profil">
        <img class="avatar" src="web/img/avatar.jpg">
        <p>PSEUDO</p>
        <p>NOM - PRENOM</p>
        <p>Date de naissance</p>
        <p>Nombre d'article - totals commentaires</p>
    </div>
</section>
{% endblock %}
