{% extends 'layout.html.twig' %}

{% block content %}
    <section class="register">
        <div class="place_register_form">
            <div id="error-block"></div>
            <div id="success-block"></div>
            <form class="position_form_register" action="?action=register" name="register-form" method="POST">
                <input type="text" name="username" placeholder="Pseudo *"><br>
                <input type="password" name="password" placeholder="Mot de Passe *"><br>
                <input type="password" name="verifpassword" placeholder="Vérification MdP *"><br>
                <input type="text" name="firstname" placeholder="Prénom *"><br>
                <input type="text" name="lastname" placeholder="Nom *"><br>
                <input type="text" placeholder="Date de naissance xx/xx/xxxx" name="birthday"><br>
                <input type="submit">
            </form>
        </div>
    </section>
    <script type="text/javascript" src="web/script/ajax-register.js"></script>

{% endblock %}
