html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}
body{
	background-color: #f6f7f9;
}
/*----------------*/
/*-----NAVBAR-----*/
/*----------------*/

.topnav {
	background-color: #000;
	overflow: hidden;
}
.topnav a {
	display: inline-flex;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 19px;
}
.topnav a:hover {
	background-color: #FFF;
	color: #000;
}
.topnav .icon {
	display: none;
}
@media screen and (max-width: 641px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
		float: right;
		display: flex;
	}
	.topnav.responsive {position: relative;}
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
	}
}

/*----------------*/
/*-----FOOTER-----*/
/*----------------*/

footer{
	width: 100%;
	height: 160px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	background-color: #333333;
}

.footer_left > li{
	color: #ffa000;
	font-size: 12px;
	list-style: none;
	margin-top: 1px;
	text-align: center;
}
.footer_left>li>a{
	color: inherit;
}
.footer_left_title{
	text-decoration: underline;
}
.colum_log_social{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: stretch;
}
.join_us{
	text-align: center;
	padding-bottom: 10px;
}
.place{
	color: #ffa000;
	text-decoration: none;
}
.square_footer{
	width: 25%;
	height: 105px;
	background-color: #555555;
	box-shadow: inset 0 0 10px #333;
}
.bg_social{
	border-radius: 7px;
	width: 26px;
}
.amc{
	padding-bottom: 7px;
}
.amc:hover{
	content: url("../img/footer/amc-hover.png");
}
.fb:hover{
	content: url("../img/footer/facebook-hover.png");
}
.twitter:hover{
	content: url("../img/footer/twitter-hover.png");
}
.pinterest:hover{
	content: url("../img/footer/pinterest-hover.png");
}
.youtube:hover{
	content: url("../img/footer/youtube-hover.png");
}
.copyright{
	text-align: center;
	margin-top: 5px;
	color: #989494;
	font-size: 12px;
}
.footer_right > li{
	color: #ffa000;
	font-size: 12px;
	list-style: none;
	margin-top: 1px;
	text-align: center;
}
.footer_right>li>a{
	color: inherit;
}
.footer_right_title{
	text-decoration: underline;
}



/*----------------*/
/*--- REGISTER ----*/
/*----------------*/
#error-block{
	font-family: bold;
}
.register{
	background-image: url("../img/img-register.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: local;
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.place_register_form{
	text-align: center;
	display: flex;
	flex-direction: column;
	color: #e84047;
	font-size: 16px;
	/*padding-top: 16%;*/
	width: 100%;
}
.register input[type="text"],
.register input[type="password"] {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 16px;
	margin: 0;
	outline: 0;
	padding: 4px;
	width: 38%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color: #8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 5px;
}
.register input[type="text"]:focus,
.register select:focus{
	background: #d2d9dd;
}
.register input[type="submit"],
.register input[type="button"] {
	display: block;
	padding: 10px 20px 10px 20px;
	color: #FFF;
	margin: 6px auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 65%;
	border: 1px solid #16a085;
	margin-bottom: 10px;
}
input::placeholder {
	text-align: center;
}
.register input[type="submit"]:hover,
.register input[type="button"]:hover
{
	background: #109177;
}

/*----------------*/
/*---- LOGIN -----*/
/*----------------*/
.login{
	background-image: url("../img/img-register.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: local;
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.place_login_form{
	/*padding-top: 35%;*/
	text-align: center;
	width: 100%;
}

.login input[type="text"],
.login input[type="password"] {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 16px;
	margin: 0;
	outline: 0;
	padding: 4px;
	width: 38%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color: #8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 5px;
}
.login input[type="text"]:focus,
.login select:focus{
	background: #d2d9dd;
}
.login input[type="submit"],
.login input[type="button"] {
	display: block;
	padding: 10px 20px 10px 20px;
	color: #ffffff;
	margin: 6px auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 65%;
	border: 1px solid #16a085;
	/* border-width: 1px 1px 3px; */
	margin-bottom: 10px;
}
input::placeholder {
	text-align: center;
}
.login input[type="submit"]:hover,
.login input[type="button"]:hover,
.button_logToREG:hover{
	background: #109177;
}
.button_logToREG{
	padding: 7px 0px 7px 0px;
	border: 1px solid #3e4644;
	background: #00332d;
	color: #c8e2c3;
	width: 100%;
	margin-top: 20px;
}




/*----------------*/
/*--- ACCUEIL ----*/
/*----------------*/
.logo{
	width: 110px;
	height: 30px;
}
.logo:hover{
	content: url("../img/logo-noir.png");
}
.home{
	width: 100%;
}
.part_right_home{
	display: none;
}
.color_title_home{
	color: #000;
}
.button_read_article{
	height: 30px;
	line-height: 38px;
	margin-left: auto;
	margin-right: auto;

}
.more_link{
	background-color: #444444;
	border-radius: 3px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	padding: 8px 15px;
}
.more_link:hover{
	background-color: #555555;
}


/*----------------*/
/*-- ADD-ARTICLE --*/
/*----------------*/
.add_article{
	width: 100%;
}
.add_article_form{
	width: 80%;
	font-family: 'Open Sans', sans-serif;
	margin-left: 10%;
}
.add_article_form label{
	display:block;
	margin-bottom: 10px;
}
.add_article_form label > span{
	width: 100px;
	color: #ffa000;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
.add_article_form fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 15px 0px 15px 0px;
	border: 2px solid #305a72;
	padding: 20px;
	background: #fafafa;

}
.add_article_form fieldset legend{
	color: #555555;
	border-top: 2px solid #305a72;
	border-left: 2px solid #305a72;
	border-right: 2px solid #305a72;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #fafafa;
	padding: 0px 8px 3px 8px;
	font-weight: normal;
}
.add_article_form input[type=text]{
	margin-left: 18%;
}
.add_article_form input[type=file]{
	margin-left: 10%;
}
.add_article_form textarea{
	width:250px;
	height:100px;
	vertical-align: top;
	margin-left: 10%;
}
.add_article_form input[type=text],
.add_article_form textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #8e8d8a;
	outline: none;
	color: #8a97a0;
	padding: 5px 8px 5px 8px;

	background-color: #e8eeef;
	width:50%;
}
.add_article_form  input[type=submit],
.add_article_form  input[type=button]{
	background-color: #216288;
	border: 1px solid #17445e;
	padding: 5px 15px 5px 15px;
	color: #ffffff;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-weight: bold;
	margin-left: 45%;
}
.required{
	color:red;
	font-weight:normal;
}

/*----------------*/
/*-- EDIT-ARTIC --*/
/*----------------*/
.content_article{
	width: 80%;
	margin: 15px 10% 15px 10%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	border-bottom: 1px dashed #f1f1f1 !important;
	padding-bottom: 15px;
}
.content_article > h1{
	font-size: 26px;
}
.custom_name{
	font-style: italic;
	font-weight: bold;
}
.date_article{
	font-size: 12px;
}
.text_article{
	font-size: 18px;
	margin-top: 3px;
}
.size_img_article{
	max-height: 250px;
	width: 100%;
}
.size_link{
	height: 250px;
}

/*----------------*/
/*---- ARTICLE ---*/
/*----------------*/
.articles{
	width: 100%;
	padding-left: 10%;
}

.size_for_one_article{
	width: 80%;
}
.custom_text_article{
	font-size: 16px;
	margin: 8px 0px 12px 0px;
}
.custom_title_article{
	line-height: 1.5em;
	font-size: 26px;
}


/*----------------*/
/*---- READ-ARTICLE ---*/
/*----------------*/
.read-articles{
	display: none;
}
.read-articles{
	width: 100%;
	padding-left: 10%;
}

/*----------------/
/---- Profil  ---/
/----------------*/
.profil{
	width: 100%;
	background-color: #ECECEC;
}
.bg_profil{
	width: 100%;
}
.first_part_profil{
	background-image: url("../img/background-profil.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: local;
	width: 100%;
	height: 168px;
	display: flex;
	justify-content: space-between;
}
.button_profil{
	height: 30px;
	line-height: 38px;
	padding-top: 20px;
}
.left{
	margin-left: 10px;
}
.right{
	margin-right: 10px;
}
.more_link_profil{
	background-color: transparent;
	border: 1px solid #ffffff;
	border-radius: 3px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	line-height: 16px;
	padding: 8px 15px;
}
.more_link_profil:hover{
	background-color: #555555;
}
.second_part_profil{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
	padding-bottom: 15px;
}
/*square_profil{
	 width: 100px;
	 height: 100px;
 }*/
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 3px solid #ECECEC;
	margin-top: -50px;
}

.none{
	display : none;
}




/*--------------------------*/
/*------ TABLET VIEW -------*/
/*--------------------------*/

@media screen and (min-width: 641px){
	/*----------------*/
	/*--- REGISTER ----*/
	/*----------------*/
	.register input[type="text"],
	.register input[type="password"] {
		width: 30%;
	}
	#error-block{
		font-size: 1.3rem;
		margin-bottom: 10px;
	}

}
